apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        env:
        - name: GF_SECURITY_ADMIN_USER
          value: "admin"
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: "admin"
        ports:
        - containerPort: 3000
        resources:
          limits:
            memory: 128Mi
            cpu: 100m
          requests:
            memory: 64Mi
            cpu: 50m
        volumeMounts:
        - name: datasources
          mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
          subPath: datasources.yaml
        - name: dashboard-provider
          mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
          subPath: dashboards.yaml
        - name: dashboard-red
          mountPath: /var/lib/grafana/dashboards/red-metrics.json
          subPath: red-metrics.json
        - name: dashboard-logs
          mountPath: /var/lib/grafana/dashboards/logs-dashboard.json
          subPath: logs-dashboard.json
      volumes:
      - name: datasources
        configMap:
          name: monitoring-config
      - name: dashboard-provider
        configMap:
          name: monitoring-config
      - name: dashboard-red
        configMap:
          name: monitoring-config
      - name: dashboard-logs
        configMap:
          name: monitoring-config
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30300
