version: '3.8'

services:
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    environment:
      - PORT=5001
      - MONGO_URI=mongodb://admin:mongo123@18.223.196.245:27017/users?authSource=admin
      - POSTGRES_URI=postgresql://postgres:postgres123@18.223.196.245:5432
      - JWT_SECRET=DeadLock
      - JWT_EXPIRES_IN=360000
    ports:
      - "5001:5001"
    volumes:
      - ./auth-service:/app

  inventory-service:
    build:
      context: ./inventory-service
      dockerfile: Dockerfile
    container_name: inventory-service
    environment:
      - PORT=5002
    ports:
      - "5002:5002"
    volumes:
      - ./inventory-service:/app

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    environment:
      - PORT=5000
      - AUTH_SERVICE_URL=http://auth-service:5001
    depends_on:
      - auth-service
    ports:
      - "5000:5000"
    volumes:
      - ./api-gateway:/app
